{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'js/calendar/bootstrap_calendar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/datatables_2/datatables.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/fuelux/fuelux.css' %}" type="text/css"/>

<style type="text/css">

  .pagination > li > a, .pagination > li > span {
    color: #717171;
    font-weight: bold;
  }

  .pagination > li > a:hover{
    color: #333;
    font-weight: bold;
  }
  
  #datos_trabajador_activo.panel-body > .row > .col-lg-5 > .row {
    font-size: 15px;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  #datos_trabajador_activo.panel-body > .row > .col-lg-7 > .row {
    font-size: 15px;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
  }

</style>
{% endblock %}

{% block content_header %}
  {% include 'cabecera_perfil_trabajador.html' %}
{% endblock %}

{% block content_wrapper %}
<section class="hbox stretch" style="padding-top: 10px;">
  <!-- DATOS PERSONALES-->
  <aside class="col-lg-3 bg-light lter b-r">
    <section class="vbox">     
      <section class="scrollable">
        {% include 'trabajador_datos_personales.html' %}
      </section>
    </section>
  </aside>

  <!-- VIDA LABORAL -->
  <aside class="bg-white">
    <section class="vbox">
      <header class="header bg-light bg-gradient">
        <ul class="nav nav-tabs nav-white">
          {% if trabajador.eventos.count > 0 %}<li class="{% if active == 'eventos' %} active {% endif %}"><a href="#eventos" data-toggle="tab">Eventos</a></li>{% endif %}
          {% if tesis %}<li class="{% if active == 'tesis' %} active {% endif %}"><a href="#tesis" data-toggle="tab">Tesis</a></li>{% endif %}
          {% if trabajador.tutorias.count > 0 %}<li class="{% if active == 'tutorias' %} active {% endif %}"><a href="#tutorias" data-toggle="tab">Tutorias</a></li>{% endif %}
          {% if trabajador.articulos.count > 0 %}<li class="{% if active == 'articulos' %} active {% endif %}"><a href="#articulos" data-toggle="tab">Art&iacute;culos</a></li>{% endif %}
          {% if trabajador.libros.count > 0 %}<li class="{% if active == 'libros' %} active {% endif %}"><a href="#libros" data-toggle="tab">Libros</a></li>{% endif %}
          {% if trabajador.certificaciones.count > 0 %}<li class="{% if active == 'certificaciones' %} active {% endif %}"><a href="#certificaciones" data-toggle="tab">Certificaciones</a></li>{% endif %}
          {% if trabajador.oponencias.count > 0 %}<li class="{% if active == 'oponencias' %} active {% endif %}"><a href="#oponencias" data-toggle="tab">Oponencias</a></li>{% endif %}
          {% if trabajador.ponencias.count > 0 %}<li class="{% if active == 'ponencias' %} active {% endif %}"><a href="#ponencias" data-toggle="tab">Ponencias</a></li>{% endif %}
          {% if trabajador.proyectos.count > 0 %}<li class="{% if active == 'proyectos' %} active {% endif %}"><a href="#proyectos" data-toggle="tab">Proyectos</a></li>{% endif %}
          {% if trabajador.servicios.count > 0 %}<li class="{% if active == 'servicios' %} active {% endif %}"><a href="#servicios" data-toggle="tab">Servicios</a></li>{% endif %}
          {% if trabajador.tribunales.count > 0 %}<li class="{% if active == 'tribunales' %} active {% endif %}"><a href="#tribunales" data-toggle="tab">Tribunales</a></li>{% endif %}
        </ul>
      </header>
      <section class="scrollable">
        <div class="tab-content">
          {% if tesis %}
            <div class="tab-pane {% if active == 'tesis' %} active {% endif %}" id="tesis">
              {% include 'trabajador_tesis.html'%}             
            </div>
          {% endif %}
          {% if trabajador.tutorias.count > 0 %}
          <div class="tab-pane {% if active == 'tutorias' %} active {% endif %}" id="tutorias">
            {% include 'trabajador_tutorias.html'%}             
          </div>
        {% endif %}
          {% if trabajador.eventos.count > 0 %}
            <div class="tab-pane {% if active == 'eventos' %} active {% endif %}" id="eventos">
              {% include 'trabajador_eventos.html'%}             
            </div>
          {% endif %}
          {% if trabajador.articulos.count > 0 %}
            <div class="tab-pane {% if active == 'articulos' %} active {% endif %}" id="articulos">
              {% include 'trabajador_articulos.html'%}             
            </div>
          {% endif %}
          {% if trabajador.libros.count > 0 %}
          <div class="tab-pane {% if active == 'libros' %} active {% endif %}" id="libros">
            {% include 'trabajador_libros.html'%}             
          </div>
          {% endif %}
          {% if trabajador.certificaciones.count > 0 %}
            <div class="tab-pane {% if active == 'certificaciones' %} active {% endif %}" id="certificaciones">
              {% include 'trabajador_certificaciones.html'%}             
            </div>
          {% endif %}
          {% if trabajador.oponencias.count > 0 %}
            <div class="tab-pane {% if active == 'oponencias' %} active {% endif %}" id="oponencias">
              {% include 'trabajador_oponencias.html'%}             
            </div>
          {% endif %}
          {% if trabajador.ponencias.count > 0 %}
            <div class="tab-pane {% if active == 'ponencias' %} active {% endif %}" id="ponencias">
              {% include 'trabajador_ponencias.html'%}             
            </div>
          {% endif %}
          {% if trabajador.proyectos.count > 0 %}
            <div class="tab-pane {% if active == 'proyectos' %} active {% endif %}" id="proyectos">
              {% include 'trabajador_proyectos.html'%}             
            </div>
          {% endif %}
          {% if trabajador.servicios.count > 0 %}
            <div class="tab-pane {% if active == 'servicios' %} active {% endif %}" id="servicios">
              {% include 'trabajador_servicios.html'%}             
            </div>
          {% endif %}     
          {% if trabajador.tribunales.count > 0 %}
            <div class="tab-pane {% if active == 'tribunales' %} active {% endif %}" id="tribunales">
              {% include 'trabajador_tribunales.html'%}             
            </div>
          {% endif %}    
        </div>
      </section>
    </section>
  </aside>
</section>
{% endblock %}

{% block content_footer %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/datatables_2/datatables.min.js' %}"></script>
<script src="{% static 'js/calendar/bootstrap_calendar.js' %}"></script>
<script src="{% static 'js/calendar/demo.js' %}"></script>
<script src="{% static 'js/fuelux/fuelux.js' %}"></script>
<script src="{% static 'js/trabajadores.js' %}"></script>

<script type="text/javascript">


  $(document).ready(function() {   
    

    // Nomencladores -------------------------
    $("#crear_centro_de_estudios").modalForm({
      formURL: "{% url 'trabajador:crear_centro_de_estudios' %}",
    });

    $("#crear_articulo").modalForm({
      formURL: "{% url 'trabajador:crear_articulo' %}",
    });

    $("#crear_proyecto").modalForm({
      formURL: "{% url 'trabajador:crear_proyecto' %}",
    });

    $("#crear_libro").modalForm({
      formURL: "{% url 'trabajador:crear_libro' %}",
    });

    $("#crear_resultado").modalForm({
      formURL: "{% url 'trabajador:crear_resultado' %}",
    });

    $("#crear_servicio").modalForm({
      formURL: "{% url 'trabajador:crear_servicio' %}",
    });

    // Crear -----------------------------------
    $("#crear_evento").modalForm({
      formURL: "{% url 'trabajador:crear_evento' %}", 
    });

    $("#crear_tesis").modalForm({
      formURL: "{% url 'trabajador:crear_tesis' %}",
    });

    $("#crear_tutoria").modalForm({
      formURL: "{% url 'trabajador:crear_tutoria' %}",
    });

    $("#crear_ponencia").modalForm({
      formURL: "{% url 'trabajador:crear_ponencia' %}",
    });

    $("#crear_oponencia").modalForm({
      formURL: "{% url 'trabajador:crear_oponencia' %}",
    });


    $("#crear_tribunal").modalForm({
      formURL: "{% url 'trabajador:crear_tribunal' %}",
    });

    $("#crear_certificacion").modalForm({
      formURL: "{% url 'trabajador:crear_certificacion' %}",
    });

    // Nomencladores -------------------------------------
    $("#crear_premio").modalForm({
      formURL: "{% url 'trabajador:crear_premio' %}",
    });

    $("#crear_entidad").modalForm({
      formURL: "{% url 'trabajador:crear_entidad' %}",
    });

    $("#crear_programa").modalForm({
      formURL: "{% url 'trabajador:crear_programa' %}",
    });

    $("#crear_cliente").modalForm({
      formURL: "{% url 'trabajador:crear_cliente' %}",
    });

    $("#crear_centro_de_costo").modalForm({
      formURL: "{% url 'trabajador:crear_centro_de_costo' %}",
    });



    // Ver -----------------------------------    
    $(".ver_evento").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_tesis").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_ponencia").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_oponencia").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_tribunal").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_certificacion").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_articulo").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_libro").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });
    
    $(".ver_proyecto").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".ver_servicio").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });


    // Eliminar -----------------------------------
    $(".eliminar_evento").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".eliminar_tesis").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".eliminar_ponencia").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".eliminar_oponencia").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".eliminar_tribunal").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".eliminar_certificacion").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });


    // Modificar -----------------------------------
    $(".modificar_evento").each(function () {
      $(this).modalForm({
        formURL: $(this).data('id')        
      });
    });

    $("#modificar_datos_personales").each(function () {
      $(this).modalForm({
        formURL: $(this).data('id')        
      });
    });

  });

</script>

{% endblock %}   
