{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'js/calendar/bootstrap_calendar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/datatables_2/datatables.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/fuelux/fuelux.css' %}" type="text/css"/>

<style type="text/css">

  .pagination > li > a, .pagination > li > span {
    color: #717171;
    font-weight: bold;
  }

  .pagination > li > a:hover{
    color: #333;
    font-weight: bold;
  }
  
  #datos_trabajador_activo.panel-body > .row > .col-lg-5 > .row {
    font-size: 15px;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  #datos_trabajador_activo.panel-body > .row > .col-lg-7 > .row {
    font-size: 15px;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
  }

</style>
{% endblock %}

{% block content_header %}
  {% include 'cabecera_perfil_trabajador.html' %}
{% endblock %}

{% block content_wrapper %}
<section class="hbox stretch" style="padding-top: 10px;">
  <!-- DATOS PERSONALES-->
  <aside class="col-lg-3 bg-light lter b-r">
    <section class="vbox">     
      <section class="scrollable">
        {% include 'trabajador_datos_personales.html' %}
      </section>
    </section>
  </aside>

  <!-- VIDA LABORAL -->
  <aside class="bg-white">
    <section class="vbox">
      <header class="header bg-light bg-gradient">
        <ul class="nav nav-tabs nav-white">
          <li class="active"><a href="#eventos" data-toggle="tab">Eventos</a></li>
          <li class=""><a href="#tesis" data-toggle="tab">Tesis</a></li>
          <li class=""><a href="#tribunales" data-toggle="tab">Tribunales</a></li>
        </ul>
      </header>
      <section class="scrollable">
        <div class="tab-content">
          <div class="tab-pane active" id="eventos">
            {% if trabajador.eventos.count > 0 %}
              {% include 'trabajador_eventos.html'%}
             {% else %} 
              <div class="container" style="padding-top: 15%; padding-left:40%;">
                <div class="inline text-center">
                  <div class="easypiechart easyPieChart" data-percent="75" data-line-width="5" data-bar-color="#4cc0c1" data-track-color="#f5f5f5" data-scale-color="false" data-size="130" data-line-cap="butt" data-animate="1000" style="width: 130px; height: 130px; line-height: 130px;">
                    <div class="thumb-lg">
                      <i class="fa fa-eye-slash fa-10x"></i>
                    </div>
                  <canvas width="130" height="130"></canvas></div>
                  <div class="h1 m-t m-b-xs">NO EVENTOS</div>         
                </div>
              </div>    
            {% endif %}
          </div>
          <div class="tab-pane" id="tesis">
            <div class="h1 m-t m-b-xs">TESIS</div>     
          </div>
          <div class="tab-pane" id="tribunales">
            <div class="h1 m-t m-b-xs">TRIBUNALES</div>     
          </div>
        </div>
      </section>
    </section>
  </aside>
  
  <!-- OTROS -->
  <aside class="col-lg-3 b-l">
    <section class="vbox">
      <section class="scrollable">
        <div class="wrapper">
          <section class="panel panel-default">
            <form>
              <textarea class="form-control no-border" rows="3" placeholder="What are you doing..."></textarea>
            </form>
            <footer class="panel-footer bg-light lter">
              <button id="prueba" class="btn btn-info pull-right btn-sm">POST</button>
              <ul class="nav nav-pills nav-sm">
                <li><a href="#"><i class="fa fa-camera text-muted"></i></a></li>
                <li><a href="#"><i class="fa fa-video-camera text-muted"></i></a></li>
              </ul>
            </footer>
          </section>
          <section class="panel panel-default">
            <h4 class="font-thin padder">Latest Tweets</h4>
            <ul class="list-group">
              <li class="list-group-item">
                  <p>Wellcome <a href="#" class="text-info">@Drew Wllon</a> and play this web application template, have fun1 </p>
                  <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 minuts ago</small>
              </li>
              <li class="list-group-item">
                  <p>Morbi nec <a href="#" class="text-info">@Jonathan George</a> nunc condimentum ipsum dolor sit amet, consectetur</p>
                  <small class="block text-muted"><i class="fa fa-clock-o"></i> 1 hour ago</small>
              </li>
              <li class="list-group-item">                     
                  <p><a href="#" class="text-info">@Josh Long</a> Vestibulum ullamcorper sodales nisi nec adipiscing elit. </p>
                  <small class="block text-muted"><i class="fa fa-clock-o"></i> 2 hours ago</small>
              </li>
            </ul>
          </section>
          <section class="panel clearfix bg-info lter">
            <div class="panel-body">
              <a href="#" class="thumb pull-left m-r">
                <img src="images/avatar.jpg" class="img-circle">
              </a>
              <div class="clear">
                <a href="#" class="text-info">@Mike Mcalidek <i class="fa fa-twitter"></i></a>
                <small class="block text-muted">2,415 followers / 225 tweets</small>
                <a href="#" class="btn btn-xs btn-success m-t-xs">Follow</a>
              </div>
            </div>
          </section>
        </div>
      </section>
    </section>              
  </aside>
  
</section>
{% endblock %}

{% block content_footer %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/datatables_2/datatables.min.js' %}"></script>
<script src="{% static 'js/calendar/bootstrap_calendar.js' %}"></script>
<script src="{% static 'js/calendar/demo.js' %}"></script>
<script src="{% static 'js/fuelux/fuelux.js' %}"></script>
<script src="{% static 'js/trabajadores.js' %}"></script>

<script type="text/javascript">
  $(document).ready(function() {    

    $('#prueba').on('click', function(){
     
    });

    // Trabajo Científico -------------------------
    $("#crear_articulo").modalForm({
      formURL: "{% url 'trabajo_cientifico:crear_articulo' %}",
    });

    $("#crear_proyecto").modalForm({
      formURL: "{% url 'trabajo_cientifico:crear_proyecto' %}",
    });

    $("#crear_libro").modalForm({
      formURL: "{% url 'trabajo_cientifico:crear_libro' %}",
    });

    $("#crear_literatura_gris").modalForm({
      formURL: "{% url 'trabajo_cientifico:crear_literatura_gris' %}",
    });

    $("#crear_resultado").modalForm({
      formURL: "{% url 'trabajo_cientifico:crear_resultado' %}",
    });

    $("#crear_servicio").modalForm({
      formURL: "{% url 'trabajo_cientifico:crear_servicio' %}",
    });

    // Docencia -----------------------------------
    $("#crear_evento").modalForm({
      formURL: "{% url 'docencia:crear_evento' %}", 
    });

    $(".ver_evento").each(function (){
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $(".eliminar_evento").each(function () {
      $(this).modalForm({formURL: $(this).data('id')});
    });

    $("#crear_tesis").modalForm({
      formURL: "{% url 'docencia:crear_tesis' %}",
    });

    $("#crear_ponencia").modalForm({
      formURL: "{% url 'docencia:crear_ponencia' %}",
    });


    $("#crear_oponencia").modalForm({
      formURL: "{% url 'docencia:crear_oponencia' %}",
    });


    $("#crear_tribunal").modalForm({
      formURL: "{% url 'docencia:crear_tribunal' %}",
    });


    $("#crear_certificacion").modalForm({
      formURL: "{% url 'docencia:crear_certificacion' %}",
    });


    $(".update_trabajador").each(function () {
      $(this).modalForm({
        formURL: $(this).data('id')        
      });
    });

  });

</script>

{% endblock %}   
