<section class="panel panel-default">
    <div class="row wrapper">
      <div class="col-sm-8 m-b-xs">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-sm btn-default active">
            <input type="radio" name="options" id="option1"> Todos
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option2"> Hoy
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option3"> &Uacute;ltimos 3 d&iacute;a
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option4"> Semana
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option5"> Mes
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th width="20"><input type="checkbox"></th>
            <th class="th-sortable" data-toggle="class">Inicio
              <span class="th-sort">
                <i class="fa fa-sort-down text"></i>
                <i class="fa fa-sort-up text-active"></i>
                <i class="fa fa-sort"></i>
              </span>
            </th>    
            <th>Fin</th>       
            <th>Centro de Costo</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>DIM</th>
            <th>Cliente</th>
            <th>Monto</th>
            <th width="80"></th>
          </tr>
        </thead>
        <tbody id="tb_trabajador_servicios">          
          {% for servicio in servicios %}
          <tr>
            <td><input type="checkbox" name="post[]" value="{{ servicio.pk }}"></td>
            <td>{{ servicio.fecha_inicio }}</td>       
            <td>{{ servicio.fecha_terminacion }}</td>
            <td>{{ servicio.centro_costo }}</td>
            <td>{{ servicio.nombre }}</td>   
            <td>{{ servicio.tipo }}</td>
            <td>{{ servicio.dim }}</td>  
            <td>{{ servicio.cliente }}</td>
            <td>{{ servicio.monto }}</td>  
            <td class="text-right">
              <a class="ver_servicio" data-id="{% url 'trabajador:ver_servicio' servicio.pk %}"><i class="fa fa-eye icon-muted"></i></a>
              <a class="eliminar_servicio" data-id="{% url 'trabajador:eliminar_servicio' servicio.pk %}"><i class="fa fa-trash icon-muted "></i></a>
            </td>          
          </tr>
          {% endfor %}

      </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-5">
          <strong>
            <small class="inline m-t-sm m-b-sm">Mostrando {{ servicios.start_index }}-{{ servicios.end_index }} de {{ servicios.paginator.count }} elementos</small>
          </strong>
        </div>
        <div class="col-sm-7 text-right text-center-xs">    
          <ul class="pagination pagination-sm m-t-none m-b-none">
            {% if servicios.has_previous %}
                <li><a href="?page_servicios={{ servicios.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
                <li><a href="?page_servicios=1">Inicio</a></li>          
            {% endif %}

            <li><a href="#"> P&aacute;gina {{ servicios.number }} de {{ servicios.paginator.num_pages }}</a></li>

            {% if servicios.has_next %}
                <li><a href="?page_servicios={{ servicios.paginator.num_pages }}">&Uacute;ltima</a></li>
                <li><a href="?page_servicios={{ servicios.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>         
            {% endif %}
          </ul>
        </div>
      </div>
    </footer>
  </section>