
<ul class="nav"> 
  <li>
    <a href="{% url 'docencia:tesis' %}">
      <i class="fa fa-file icon"></i>
      <span>Tesis</span>
    </a>         
  </li>         
  <li>
    <a href="{% url 'docencia:eventos' %}">
      <b class="badge bg-info pull-right">3</b>
      <i class="fa fa-trophy icon"></i>
      <span>Eventos</span>
    </a>         
  </li>
  <li>
    <a href="{% url 'docencia:certificaciones' %}">
      <i class="fa fa-certificate icon"></i>
      <span>Certificaciones</span>
    </a>         
  </li>  
  <li>
    <a href="{% url 'docencia:ponencias' %}">
      <i class="fa fa-bullhorn icon"></i>
      <span>Ponencias</span>
    </a>         
  </li>
  <li>
    <a href="#">
      <b class="badge bg-info pull-right">3</b>
      <i class="fa fa-trophy icon"></i>
      <span>Oponencias</span>
    </a>         
  </li>                
</ul>



