{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Crear/Asignar Proyecto -->
<form id='crear_proyecto' role="form" method="POST" class="" action="">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5 class="modal-title font-bold" id="myModalLabel">A&Ntilde;ADIR PROYECTO</h5>
  </div>
  <div class="modal-body">
    <div class="form-group pull-in clearfix"> 
      <div class="col-sm-3">
        {{ form_crear_proyecto.fecha_aprobado|as_crispy_field }}
      </div> 
      <div class="col-sm-3">
        {{ form_crear_proyecto.fecha_inicio|as_crispy_field }}
      </div>
      <div class="col-sm-3">          
        {{ form_crear_proyecto.fecha_terminacion|as_crispy_field }}
      </div>  
      <div class="col-sm-3">          
        {{ form_crear_proyecto.centro_costo|as_crispy_field }}
      </div>     
    </div>  
    <div class="form-group pull-in clearfix">  
      <div class="col-sm-12">
        {{ form_crear_proyecto.titulo|as_crispy_field }}
      </div> 
    </div>  
    <div class="form-group pull-in clearfix">  
      <div class="col-sm-6">
        {{ form_crear_proyecto.participantes|as_crispy_field }}
      </div>
      <div class="col-sm-6">          
        {{ form_crear_proyecto.programa|as_crispy_field }}
      </div>      
    </div> 
    <div class="form-group pull-in clearfix">  
      <div class="col-sm-4">
        {{ form_crear_proyecto.jefe|as_crispy_field }}
      </div>
      <div class="col-sm-4">          
        {{ form_crear_proyecto.tipo|as_crispy_field }}
      </div>    
      <div class="col-sm-4">          
        {{ form_crear_proyecto.nivel|as_crispy_field }}
      </div>   
    </div> 
    <div class="form-group pull-in clearfix">  
      <div class="col-sm-6">
        {{ form_crear_proyecto.entidadejecutora|as_crispy_field }}
      </div>
      <div class="col-sm-3">          
        {{ form_crear_proyecto.presupuesto_total|as_crispy_field }}
      </div>    
      <div class="col-sm-3">          
        {{ form_crear_proyecto.presupuesto_anno|as_crispy_field }}
      </div>   
    </div> 
    <div class="form-group pull-in clearfix">  
      <div class="col-sm-6">
        {{ form_crear_proyecto.resultados|as_crispy_field }}
      </div>
      <div class="col-sm-6">          
        {{ form_crear_proyecto.entidades|as_crispy_field }}
      </div>  
    </div> 
    <div class="form-group pull-in clearfix">  
      <div class="col-sm-12">
        {{ form_crear_proyecto.dirigido_por_cfa|as_crispy_field }}
      </div>
    </div>
    <div class="form-group pull-in clearfix">  
      <div class="col-sm-12">
        {{ form_crear_proyecto.descripcion|as_crispy_field }}
      </div> 
    </div> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="submit-btn btn btn-primary">Aceptar</button>
  </div>      
</form>

