{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Modal ver PTHOY -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h5 class="modal-title font-bold" id="myModalLabel">DETALLE PROYECTO</h5>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Fecha de Inicio:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.fecha_inicio }}</label>                            
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Fecha de Terminaci&oacute;n:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.fecha_terminacion }}</label>                            
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Nombre:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.nombre }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Programa:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.programa }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Tipo:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.tipo }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Nivel:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.nivel }}</label>                            
      </div>            
    </div> 
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>P&aacute;ginas:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.paginas }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Presupuesto anual:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.presupuesto_anno }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Presupuesto total:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.presupuesto_total }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Entidad ejecutora:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.entidad_ejecutora }}</label>                            
      </div>            
    </div>         
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Descripci&oacute;n:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.descripcion }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Entidades:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.entidades }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Resultados:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.resultados }}</label>                            
      </div>            
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>      

