{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Modal -->
<form id='crear_objeto' role="form" method="POST" class="" action="">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">A&Ntilde;ADIR OBJETO DE INVENTARIO</h4>
  </div>
  <div class="modal-body">
    {{ form_crear_objeto|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="submit-btn btn btn-primary">A&ntilde;adir</button>
  </div>      
</form>


