{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Modal ver inventario -->
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Elemento de Inventario</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Fecha:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.fecha }}</label>                            
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>N&uacute;mero:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.numero }}</label>                            
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Local:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.local }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Objeto:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.objeto }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Nombre:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.nombre }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Estado:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.estado }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Responsable:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.responsable }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Proyecto:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.proyecto }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Expediente X:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.expediente_x }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Inventario contable:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.inventario_contable }}</label>                            
      </div>            
    </div>
    <div class="line line-dashed line-lg pull-in"></div>>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>      

