{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}
<style type="text/css">
  .pagination > li > a, .pagination > li > span {
    color: #717171;
    font-weight: bold;
  }
  
  #datos_trabajador_activo.panel-body > .row > .col-lg-6 > .row {
    font-size: 15px;
    margin-left: 0;
    margin-top: 2px;
    margin-bottom: 2px;
  }

</style>
{% endblock %}

{% block content_header %}
  {% include 'cabecera_trabajador.html' %}
{% endblock %}

{% block content_wrapper %}

<div style="margin: 1%">
  <div class="row">
    <div class="col-lg-12">
      <a class="pull-left thumb m-r">
        {% if user.trabajador.foto.url %}
          <img src="{{ user.trabajador.foto.url }}" class="img-circle">
        {% else %}
          <img src="{% static 'images/avatar_default.jpg' %}" class="img-circle">
        {% endif %}
      </a>
      <div class="clear">
        <div class="h3 m-t-xs m-b-xs">{{ trabajador.nombre_coloquial }}</div>
        <small class="font-bold">{{trabajador.plaza}}</small>
      </div>
        <a id="trabajador_{{ trabajador.pk }}" data-toggle="tooltip" data-placement="left" title="" data-original-title="Editar perfil" class="actualizar_trabajador pull-right btn btn-rounded btn-sm btn-icon btn-default" data-id="#"><i class="fa fa-pen"></i></a>    
    </div>
  </div>             
</div>

<div style="margin: 1%">
  <div class="row">
    <div class="col-lg-4"> 
     <section class="panel panel-default">
        <header class="panel-heading font-bold">DATOS</header>
        <div class="panel-body" id="datos_trabajador_activo">
          <h4>Personales</h4>
          <div class="row">            
            <div class="col-lg-6">
              <div class="row">Carnet de identidad:</div>
              <div class="row">Sexo:</div>
              <div class="row">Direcci&oacute;n:</div>
              <div class="row">Municipio:</div>
              <div class="row">Raza:</div>
              <div class="row">&Aacute;reas de interes:</div>
            </div>
            <div class="col-lg-6">
              <div class="row">{{object.ci}}</div>
              <div class="row">{{object.sexo}}</div>
              <div class="row">{{object.direccion}}</div>
              <div class="row">{{object.municipio}}</div>
              <div class="row">{{object.raza}}</div>
              <div class="row">{{object.areas_interes}}</div>
            </div>            
          </div><!--Final de personales-->

          <div class="line line-dashed line-lg pull-in"></div> 
          <h4>Laborales</h4>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">Nivel de escolaridad:</div>
              <div class="row">Especialidad:</div>
              <div class="row">Grado cient&iacute;fico:</div>
              <div class="row">Cateogor&iacute;a cient&iacute;fica:</div>
              <div class="row">Cateogor&iacute;a docente:</div>
            </div>
            <div class="col-lg-6">
              <div class="row">{{object.nivel_escolar}}</div>
              <div class="row">{{object.especialidad}}</div>
              <div class="row">{{object.grado_cientifico}}</div>
              <div class="row">{{object.cateogoria_cientifica}}</div>
              <div class="row">{{object.cateogoria_docente}}</div>   
            </div>
          </div><!--Final de laborales-->

          <div class="line line-dashed line-lg pull-in"></div> 
          <h4>Laborales | INSMET</h4>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">Tarjeta:</div>
              <div class="row">Plaza:</div>
              <div class="row">Categor&iacute;a ocupacional:</div>
              <div class="row">Fecha de entrada:</div>
              <div class="row">Resoluci&oacute;n 34-19:</div>
              <div class="row">Bono Msc-Dr:</div>
              <div class="row">Grupo escala antiguo:</div>
              <div class="row">Grupo escala actual:</div>
              <div class="row">Salario escala antiguo:</div>
              <div class="row">Salario escala actual:</div>
              <div class="row">Otros pagos antiguo:</div>
              <div class="row">Otros pagos actual:</div>
              <div class="row">Salario total antiguo:</div>
              <div class="row">Salario total actual:</div>
              <div class="row">Membresias:</div>
              <div class="row">Afiliaciones:</div>
            </div>
            <div class="col-lg-6">
              <div class="row">{{object.tarjeta}}</div>
              <div class="row">{{object.plaza}}</div>
              <div class="row">{{object.categoria_ocupacional}}</div>
              <div class="row">{{object.fecha_entrada_insmet}}</div>           
              <div class="row">{{object.res_34_19}}</div>   
              <div class="row">{{object.msc_dr}}</div>  
              <div class="row">{{object.grupo_escala_antiguo}}</div>  
              <div class="row">{{object.grupo_escala_actual}}</div>  
              <div class="row">{{object.salario_escala_antiguo}}</div>  
              <div class="row">{{object.salario_escala_actual}}</div>  
              <div class="row">{{object.otros_pagos_antiguo}}</div>  
              <div class="row">{{object.otros_pagos_actual}}</div> 
              <div class="row">{{object.salario_total_antiguo}}</div>  
              <div class="row">{{object.salario_total_actual}}</div> 
              <div class="row">{{object.membresias}}</div>  
              <div class="row">{{object.afiliaciones}}</div>  
            </div>
          </div><!--Final de laborales-->
        </div>
      </section>
              
    </div>
    <div class="col-lg-8">
      <div class="row">
        <section class="panel panel-default">
          <header class="panel-heading font-bold">EVENTOS</header>
          <div class="panel-body">
            <h4>Eventos</h4>        
          </div>
        </section>              
      </div>
      <div class="row">
        <section class="panel panel-default">
          <header class="panel-heading font-bold">VIDA CIENT&Iacute;FICA</header>
          <div class="panel-body">
            <h4>Ciencias</h4>        
          </div>
        </section>   
      </div>
    </div> 
  </div>             
</div>

{% endblock %}

{% block content_footer %}

{% endblock %}

{% block javascript %}

<script type="text/javascript">

  $(document).ready(function() {    

    $(".update_trabajador").each(function () {
      $(this).modalForm({
        formURL: $(this).data('id')        
      });
    });

  });

</script>

{% endblock %}   
